:root {
    --background-color: #181c21;
    --background-color-2: #20242a;
    --background-color-3: #282c34;
    
    --font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: aliceblue;
}


